.taisao {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px 40px;
  background-color: #d9f58c;
}
.taisao img {
  width: 600px;
  height: 600px;
  border-radius: 100%;
}
.why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}
.why h1 {
  font-size: 40px;
}
