.card button {
  border-radius: 20px;
  padding: 10px 15px;
  background-color: yellow;
  border: 3px solid black;
  font-size: 15px;
}
.card button:hover {
  transition: 0.2s;
  transform: scale(1.2);
  cursor: pointer;
  background-color: black;
  color: white;
  border: 3px solid yellow;
}
.card img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
}
.card {
  max-width: 400px;
}
